.bggpluscontentscript_ajax { background-image: url("ajax-loader.gif"); }

@-webkit-keyframes bggpluscontentscript_myfirst {
   0% { background-color: silver; }
   100% { background-color: white; }
}

.bggpluscontentscript_ajax {
   background-color: silver;
   -webkit-animation: bggpluscontentscript_myfirst 3s linear 0s infinite alternate;
}

.bggpluscontentscript_toolbar {
   position: fixed;
   top: 55px;
   right: 3px;
   background-color: pink;
   border: 1px solid black;
   -webkit-user-select: none;
   padding: 3px;
   opacity: 0.5;
}

.bggpluscontentscript_nextPage,
.bggpluscontentscript_prevItem,
.bggpluscontentscript_nextItem {
   cursor: pointer;
   float: right;
   width: 16px;
   height: 16px;
}

.bggpluscontentscript_nextPage { background: url("chrome-extension://__MSG_@@extension_id__/newspaper-go.png"); }
.bggpluscontentscript_prevItem { background: url("chrome-extension://__MSG_@@extension_id__/newspaper-up.png"); }
.bggpluscontentscript_nextItem { background: url("chrome-extension://__MSG_@@extension_id__/newspaper-down.png"); }

/*
.bggpluscontentscript_nextPage.disabled {
   background: url("chrome-extension://__MSG_@@extension_id__/newspaper-go-disabled.png");
}
*/
.bggpluscontentscript_prevItem.disabled {
   background: url("chrome-extension://__MSG_@@extension_id__/newspaper-up-disabled.png");
}
.bggpluscontentscript_nextItem.disabled {
   background: url("chrome-extension://__MSG_@@extension_id__/newspaper-down-disabled.png");
}

